<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        div {
          display: table;
          margin-right: auto;
          margin-left: auto;
          margin-top:50px;
        }
        label {
            font-size: 20px;
        }
    </style>
    <script>
    </script>
</head>
<body>
    <div class="form-check">
        <form action="" method="post">
            {% csrf_token %}
            <input class="form-check-input" type="radio" name="choice" id="choice_1" value="1d">
            <label class="form-check-label" for="choice_1">1d arrays</label><br>
            <input class="form-check-input" type="radio" name="choice" id="choice_2" value="2d">
            <label class="form-check-label" for="choice_2">2d arrays</label><br>
            <div><input class="btn btn-primary" type="submit" value="Chose"/></div>
        </form>
    </div>
</body>
</html>